<div class="head">
    <h1 style="color: white;">Take The Interview</h1>
</div>
<div class="body">
    <div class="buttons">
        <button class="btn btn-success" (click)="createRoom()">Create Room</button>
        <button class="btn btn-primary" style="margin-left: 50px;" (click)="shareLink()">Share the Room link</button>
    </div>
</div>
<div class="footer">
    <h1 style="color: white; background-color: black; text-align: center; margin-top: 50px; padding-bottom: 10px; padding-top: 10px;">Hiring App Ltd</h1>
</div>