<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/aes-min.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form  class="box"> 
                    <h1>Panel Login</h1>
                    <p class="text-muted" style="color: white;"> Please enter your id and password!</p>
                    <input type="text" name="email" placeholder="enter your ID"> 
                    <input type="password" name="password" placeholder="enter your password">
                    <button class="loginbtn">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>