
<html>
    <body>
        <header>
            <h1 style="text-align: center; color: white; margin-bottom: 30px; padding-bottom: 20px; background-color: green; padding-bottom: 50px; padding-top: 50px;">Candidate Remarks</h1>
        </header>
        <div class="row">
            <div class="column">
                <div class="card">
                    <!--<h3 style="color: red;">Area for Viewing the Resume of the Candidate</h3>-->
                    <div #viewer class="webviewer"></div>
                </div>
            </div>
            <div class="column1">
                <div class="card1">
                    <b><h3 style="color: white; padding-bottom: 30px;">PanelList</h3></b>
                   <b style="color: white;">
                    Id : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{pid}} <br>
                    Name :&nbsp; {{panFirstName}} {{panLastName}} <br></b>
                </div>
            </div>
            <div  class="column2">
                <div class="cards1">
                    <b><h3 style="color: white; padding-bottom: 30px;">Candidate</h3></b>
                   <b style="color: white;">
                    Id : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{cid}} <br>
                    Name :&nbsp; {{canFirstName}} {{canLastName}} <br></b><br>
                    </div>
            </div>

            <form  (ngSubmit)="add()" #myForm="ngForm">
            <div class="column3">
                <div class="card2">
                    <b><h3 >Ratings </h3></b><br>
                   <!-- <input type="number" name="candidate" [(ngModel)]="candidate.rating" />-->
                    <table > 
                        <th>
                            {{techs[0]}}
                            <table>
                                <td>Technical</td>
                                <td>Reasoning</td>
                            </table>
                                <tr><input type="text" size="2" length="2"  name="one">/10
                                <input type="text" size="2" length="2" name="two">/10</tr>
                        </th>
                        <th>
                            {{techs[1]}}
                            <table>
                                <td>Technical</td>
                                <td>Reasoning</td>
                            </table>
                            <tr>
                                <input type="text" size="2" length="2"  name="three">/10
                                <input type="text" size="2" length="2" name="four">/10
                            </tr>
                        </th>
                        <th>
                            Communication Skills
                            <tr><input type="text" size="2" length="2" name="five">/10</tr>
                        </th>
                    </table>
                </div>
            </div>
            <div class="column4">
                <div class="card3">
                    <b><h3>Final Feedback</h3></b><br>
                    <textarea name="feedback" id="feedback" rows="4" cols="180" [(ngModel)]="candidate.feedback"></textarea>
                </div>
            </div>
            <div class="column4">
                <div class="card4">
                    <!--<button class="btn btn-success" style="float: left; margin-left: 400px;">Selected</button>
                    <button class="btn btn-danger" style="float: right; margin-right: 400px;">Rejected</button>
                    <button class="btn btn-primary" style="float: center;">Hold</button>-->

                    <div class="form-group">
                        <label><h3>Select Status</h3></label>
                        <select class="form-control"
                        name="selStatus" [(ngModel)]="candidate.selStatus">
                            <option *ngFor="let s of selStatus" value="{{ s }}">{{ s }}</option>
                        </select>
                    </div>
                </div>
               <button type="submit" class="btn btn-primary" style="margin-left: 700px;">Submit</button>
            </div>
        </form>
        </div>
        <footer>
            <h1 style="color: white; background-color: black; text-align: center; margin-top: 50px; padding-bottom: 50px; padding-top: 50px;">Hiring App Ltd</h1>
        </footer>
    </body>
</html>