<div class="topnav">
    <a class="active" href="/panel-login">Upcoming Interviews</a>
    <a href="/past-interview">Past Interviews</a>
    <a href="/" style="float: right;">LogOut</a>
  </div>
<div class="details" *ngFor="let r of result;index as i">
  <div class="card" *ngIf="result[i].selStatus=='Selected' && result[i].level!=3">
    <img src="/assets/avatar.jpg" alt="Avatar">
    <div class="container"><b><h3>{{result[i].firstName}} {{result[i].middleName}} {{result[i].lastName}}</h3></b></div>
    <div class="container"><b><h3>Feedback-{{result[i].feedback}}</h3></b></div>
    <div class="container"><b><h3>Rating-{{result[i].rating}}</h3></b></div>
    <div class="container"><b><h3>Status-{{result[i].selStatus}}</h3></b></div>
    <div class="container"><b><h3>Level-{{result[i].level}}</h3></b></div>
    <button (click)='takeInterview(i)'>Take Interview</button>
  </div>
</div>